:root {
	--first-color: #fff;
	--border-color: rgba(0, 0, 0, 0.2);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	background-color: #4b4b53;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px 0 40px 0;
}
header h1{
	font-size: 3rem;
	font-weight: 200;
}
.transaction-list {
	display: flex;
}

.expenses-area,
.income-area,
.amount {
	border: solid 1px #fff;
}
